body {
    background-image: url('./assets/jobTrackrBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5) !important;
  }  

  h1 {
    font-size: 4rem !important;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #000 !important;
    align-items: center;
    margin-top: 20% !important;
    padding-bottom: 5%;
  }
  
  .login-btn {
    background-color: #4285f4;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center !important;
    margin-left: 40% !important;
  }
  
  .login-btn:hover {
    background-color: #2a75c7;
  }
  
  .google-logo {
    width: 20px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
  }
  