  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
    width: 100vw; /* Set the width to 100% of the viewport width */
    background-image: url('./assets/jobTrackrBg.png');
    background-color: rgba(255, 255, 255, 0.5) !important;
    background-size: cover;
    background-repeat: no-repeat;
}

  .mainTitle {
    font-size: 4rem !important;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #000 !important;
    align-items: center;
  }
  
  .login-btn {
    background-color: #4285f4;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center !important;
  }
  
  .login-btn:hover {
    background-color: #2a75c7;
  }
  
  .google-logo {
    width: 20px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
  }
  